header {
    background-image: url(./FOTOS/castellon.jpg); 
    background-position: center; 
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255); 
    font-size: 50px;
}

body{
    background-color: #e5cdaf;
}

#columnas {
    display: flex;
    margin: 20px;
}

.column_lado_izq {
    width: 20%;
    text-align: center;
}

.column_lado_der{
    width: 20%;
    text-align: center;
}

.column_centro {
    width: 60%;
    text-align: center;
}

#titulo_introduccion, #titulo_historia, #titulo_gas_fiest {
    text-align: center;
}

#introduccion, #historia, #gastro_fiest {
    text-align: justify;
}

#mapa {
    width: 100%;
    height: 450px;
    padding: 2px;
    border-radius: 15px;
}

.sitios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.ficha {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    color: #e5cdaf;
}

.ficha img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#foto_playa {
    width: 100%;
    height: 40%;
}

.ubicacion {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.descripcion {
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin: 13px;
    padding: 10px;
}

.card-img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin-bottom: 2px;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    text-align: justify;
    color: #e5cdaf;
    margin-top: 2px;
}

.card-text{
    font-size: 18px;
    text-align: justify;
    color: #e5cdaf;
}

#boton{
    padding: 10px 20px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #e5cdaf;
    text-align: center;
}
